*{
  box-sizing:border-box;
}
body{
  margin:0;
  padding:0;
  font-family:sans-serif;
  line-height:22px;
  
}
:root{
  --dark-shade:#D6EAF8 ;
  --sub-heading:#5D6D7E;
  --labels:#2E86C1;
  --label-border:#566573;
}

header{
  font-weight:600;
}
#main-doc{
  /* background-color:var(--light-shade); */
  padding-left:30px;
}
#navbar,#main-doc{
padding-top:30px;

}
.wrap{
  display:flex;
  flex-direction:left;
}
#navbar{
  min-width:260px;
  background-color:var(--dark-shade);
  font-size:20px;
  font-weight:600;
  border-right:1px solid var(--label-border);
  padding:0;

}
#navbar a{
  text-decoration:none;
  display:block;
  color:var(--labels);
  padding:1rem;

}
.label-border{
  /* background-color:var(--label-border); */
  border-top:2px solid var(--label-border);
  margin:auto;
  width:70%;
  border-radius:1px;
}


#navbar ul{
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
}

#navbar header{
  text-align:center;
  font-size:50px;
  line-height:50px;
  margin:25px 0;
  color:#2C3E50;
}

#main-doc header:not(.firstheader){
  margin:55px 0 20px;

}
#main-doc header{
  padding:0 0 0 12px;
  font-size:35px;
  color:var(--labels);

}

#main-doc h3{
  font-size:22px;
  color:var(--sub-heading) ;
}
#main-doc h3:not(.ex-syn){
  padding:0 0 0 50px;
}

.code-wrap,#main-doc ul{
  margin:0 0 0 65px;

}
#main-doc p{
  margin:10px 0 10px 65px;
}

/*code-block */

.code-wrap{
  background-color:var(--dark-shade);
  padding:18px;
  border-radius:10px;
}
.code-block{
  background-color:white;
  border-radius:10px;
  padding:8px 12px;
  margin-top:12px;
  margin-left:15px;

}
.ex-syn {
  padding-left:5px;
  margin:5px;
}

pre{
  padding:0;
  margin:0;
}
.inline-code{

}

@media(max-width:400px)
{
  .wrap{
    flex-direction:column;
  }

  
  #main-doc{
    overflow-x:hidden;
    box-shadow:3px 3px 8px 6px var(--sub-heading);
    padding:12px;

  }
  #main-doc h3:not(.ex-syn),#main-doc header{
    text-align:left;
    padding:0;
  }
  
  #main-doc p,#main-doc ul,.code-wrap{
    margin: 15px auto;
  }
  #navbar,#main-doc{
    width:100%;
    scrollbar-width:none;

  }
  #navbar{
    height:250px;
    overflow-y:scroll;
    scrollbar-width:none;
  }
  .label-border:first-of-type{
    border:none;
  }
}
